.collection-wrapper
{
 background-color: whitesmoke;

}
.collection-image
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.slick-next:before,
.slick-prev:before{
    color:red;
}
.collection-subtitle-text
{
    font-size: 35px;
    font-weight: 500;
}
#title
{
    padding-left: 30%;
    font-size: 26px;
    font-weight: 500;
}