.navbar-main
{

margin-left: 19%;
margin-right: 19%;
background-color: beige;
}
ul > li 
{
    list-style-type: none;

}
ul>li>a 
{
    text-decoration: none;
    color:rgb(245, 0, 0);
    font-size: 22px;
}